.lesson-container{
      /* делаем flex контейнер */
  display: flex;
  /* меняем направление главной оси на вертикальное */
  flex-direction: column;
  /* выравниваем по центру */
  align-items: center;
}
